.banner-openning {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-pic {
    width: 580px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.head {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

