nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 0 35px 0 200px;
}

nav ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}
