.section-title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.section-text {
    font-size: 18px;
    color: #757575;
    text-align: center;
} 

/* about section*/
.about {
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
    text-align: center;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

.item {
    color: #757575;
}

.item-description {
     font-size: 20px;
     font-weight: bold;
}

.about-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* skills section */
.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill:hover {  
    box-shadow: 0px 6px 50px 0px rgba(7, 121, 252, 0.623);
    transform: translateY(-10px);
    transition: box-shadow 0.3s ease-in-out;
}

/* Resume Section */
.resume-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.cv-button {
    text-align: center;
    margin-top: 30px;
}

/* footer */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

.footer-title {
    font-size: 35px;
    font-weight: bold;
}

footer input , textarea{
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: wheat;
    display: block;
    height: 64px;
    margin: 20px;
}